.details-title{
    font-size: 18px;
    margin-block: 1em;
}

.details-container{
    background-color: var(--medium-gray);
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.details-image-container{
    display: flex;
    width: 100%;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-color: white;
    
    & img{
        object-fit: contain;
        width: 100%;
        aspect-ratio: 1/1;
    }
}

.primary-btn{
    font-size: 1.5em;
    font-weight: bold;
}

.tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .old-price{
        margin: 0;
        font-size: 25px;
    }

    & .free-shipping{
        margin: 0;
        font-size: 15px;
    }
}

.details-price-container{
    
    display: flex;
    align-items: center;
    gap: 5px;

    & .discount-tag{
        font-size: 1em;
    }

    & .details-price{
        font-size: 2em;
    }
}

.buy-buttons{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-block: 1em;
}

@media (min-width: 768px){

  article.details{
    display: flex;
  }  

  picture.details-image-container{
    width: 50%;
  }

  div.details-info{
    flex: 1;
    padding-left: 10px;
  }
}