<header class="top-header" id="top-header">
    <div class="container">
        <div class="header-content">
            <div>
                <a href="/">
                    <h2>TechShop</h2>
                </a>
            </div>
            <nav>
                <div>
                    <i class="fa-solid fa-bars menu-button"></i>
                </div>
                <ul class="nav-links">
                    <li><a href="">Cuenta</a></li>
                    <li><a href="">Productos</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>