<header class="top-header" id="top-header">
    <div class="container">
        <div class="header-content">
            <div>
                <a href="/">
                    <h2>TechShop</h2>
                </a>
            </div>
            <nav>
                <div class="header-menu-container">
                    <i class="fa-solid fa-bars menu-button"></i>
                </div>
                <div class="nav-links-container">
                    <ul class="nav-links">
                        <li><a href="#">Cuenta</a></li>
                        <li><a href="/products">Productos</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>